 .what-is-peermotion{
   max-width: 720px;
 }

 .is-checked{
   width: 16px;
   height: 16px;
 }

 .is-what-holder{
   background: url(../images/main-bg@2x.png) no-repeat center top;
   background-size: 1440px;
 }
