// bower:scss
// endbower
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,7000');
@import '_vars';
@import 'bower_components/bulma/bulma';
@import '_responsive';
@import '_spacing';
@import '_what-is-peermotion';

body {
  max-width: 1440px;
  margin: 0 auto;
}

.is-size-top-nav {
  font-size: 0.85rem;
}

.top-nav {
  box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
  z-index: 2;
  .navbar {
    min-height: 2.5rem;
    &.is-transparent {
      background-color: transparent !important;
    }
    .navbar-item {
      padding-right: 3.5rem;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

 .what-is-peermotion {
   max-width: 720px;
 }

 .is-checked {
   width: 16px;
   height: 16px;
 }

 .is-what-holder{
   background: url(../images/main-bg@2x.png) no-repeat center top;
   background-size: 1440px;
 }


.inner-nav {
  padding: 2rem 0;
  z-index: 1 !important;
}

.is-size-3-5 {
  font-size: 1.3rem !important;
}

.is-full-width {
  img {
    width: 75% !important;
    height: auto;
  }
}

.separator {
  background: url(../images/separator@2x.png) no-repeat center center;
  background-size: cover;
  height: 185px;
}

.cta {
  background: url(../images/cta-bg@2x.png) no-repeat center center;
  background-size: cover;
}
.cta-dual{
  .button{
    padding: 1.5em 2em;
    line-height: 1em;

    &.is-rounded{
      border-radius: 20px;
    }
  }
}

.team {
  .team-holder {
    .team-image {
      max-width: 130px;
      height: auto;
    }
  }
}

.roadmap {
  background: url(../images/roadmap-bg@2x.png) no-repeat center center;
  background-size: 1440px;
}

.footer-logo {
  max-width: 275px;
}

.is-profitable {
  background: url(../images/main-bg-reverse@2x.png) no-repeat center top;
  //background-size: 1440px;
}

.is-performance {
  background: url(../images/bg-brand@2x.png) no-repeat center top;
  background-size: 1440px;
}

.small-icon {
  img {
    max-width: 50%;
  }
}

@media screen and (max-device-width: 768px) {
  .is-reverse {
    flex-direction: column-reverse;
    display: flex;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  footer {
    .social {
      text-align: center;
      img {
        max-width: 64px;
        height: auto;
        margin: 0 auto;
      }
    }
  }
}
