.section
  .container
    .columns.is-centered
      .column.is-four-fifths
        h1.title.is-size-1.is-size-3-mobile.has-text-info.has-text-weight-bold.has-text-centered.is-spaced Accelerate Your Company's Growth
        h2.subtitle.is-size-4.is-size-5-mobile.has-text-centered.pt-md Work with results oriented and brand-aligned marketers to target and acquire new customers
        .has-text-centered
          a.button.is-rounded.is-large.is-info.has-text-weight-bold.mt-md.open-beta-modal(href="#") Request Beta Access
