.section.pt-lg.pb-lg.financial-freedom
  .container.pt-lg
    .columns.is-centered.content
      .column.is-four-fifths
          p.subtitle.is-size-2-5.is-size-4-mobile.has-text-info.has-text-centered.pt-md.has-text-weight-bold With PeerMotion, performance marketing works for you, so you don't have to work so hard for it
          p.subtitle.is-size-4.is-size-4-mobile.has-text-centered.pt-md.has-text-weight-bold Spend more time creating a great product and less time trying to figure out how to sell it
  .container.content.mt-xl
      .columns.is-centered
        .column
          .columns
            .column.mv-auto
              p.is-size-4.has-text-info.has-text-weight-bold Find the best marketers in the least amount of time
              p List your offers and see transparent user scores for all marketers based on their performance
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/best-marketers@2x.png')
          .columns.mt-lg.is-reverse
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/optimize-roi@2x.png')
            .column.mv-auto
              p.is-size-4.has-text-info.has-text-weight-bold Optimize your ROI
              p Track offer performance with our industry leading tracker, automate your campaigns, communicate directly with marketers, and make sure every action results in a desirable ROI
          .columns.mt-lg
            .column.mv-auto
              p.is-size-4.has-text-info.has-text-weight-bold Marketer insight and accountability
              p Through tracking blockchain tech, easily hold marketers accountable to the rules and to presenting your brand well to consumers
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/marketer-insight@2x.png')
          .columns.mt-lg.is-reverse
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/quality-traffic@2x.png')
            .column.mv-auto
              p.is-size-4.has-text-info.has-text-weight-bold Increased quality traffic, honest refunds and chargebacks
              p Quality traffic scores for marketing partners, legitimacy of refunds and chargebacks through verifiability of the blockchain and smart contracts
          .columns.mt-lg
            .column.mv-auto
              p.is-size-4.has-text-info.has-text-weight-bold No middleman, reduced fees
              p Connect directly with marketers in a transparent and secure way. Only pay 50% of payment gateway fees at payout
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/reduced-fees@2x.png')
