.section.pt-xxxl.pb-xxxl.is-performance
  .container.pt-lg
    .columns.is-centered.content
      .column
          p.subtitle.is-size-2-5.is-size-4-mobile.has-text-centered.pt-md.has-text-white.has-text-weight-bold Even the largest brands suffer from common problems when it comes to performance marketing
    .container.content.mt-xl
      .columns.is-centered
        .column
          .columns
            .column.mv-auto
              p.has-text-white.is-size-5.has-text-weight-semibold
                strong.has-text-white Waste&nbsp;
                |- Time & money wasted finding the best marketers
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/time@2x.png')
          .columns.is-reverse
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/market-strategy@2x.png')
            .column.mv-auto
              p.has-text-white.is-size-5.has-text-weight-semibold
                strong.has-text-white Lack of Trust&nbsp;
                |- Marketing partners don’t play by the rules or represent the brand well
          .columns
            .column.mv-auto
              p.has-text-white.is-size-5.has-text-weight-semibold
                strong.has-text-white Deceit&nbsp;
                |- Fraudulent traffic, chargebacks and refunds
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/deceit@2x.png')
          .columns.is-reverse
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/ineffectiveness@2x.png')
            .column.mv-auto
              p.has-text-white.is-size-5.has-text-weight-semibold
                strong.has-text-white Ineffectiveness&nbsp;
                |- It's not easy to insure ROI
          .columns
            .column.mv-auto
              p.has-text-white.is-size-5.has-text-weight-semibold
                strong.has-text-white Lack of knowledge&nbsp;
                |- Many brands don't take advantage of performance marketing simply because they don't understand how it works
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/lack@2x.png')
