extends layouts/default

block vars
  - var bodyClasses='has-background-white brands-page'

block content
  include includes/brand/hero
  include includes/brand/performance
  include includes/brand/lot-better
  include includes/marketer/cta
  include includes/beta-access
