extends layouts/default
include includes/helpers/mixins

block content
    include includes/home-hero
    include includes/what-is-peermotion
    include includes/an-industry
    include includes/problems
    include includes/separator
    include includes/the-solution
    include includes/cta
    include includes/team

