extends layouts/default

block vars
  - var bodyClasses='has-background-white invertors-page'

block content
  include includes/investors/hero
  include includes/investors/crypto-problem
  include includes/investors/testimonials
  include includes/separator
  include includes/investors/the-paco
  include includes/investors/paco-cta
