extends layouts/default

block vars
  - var bodyClasses='has-background-white marketers-page'

block content
  include includes/marketer/hero
  include includes/marketer/profitable
  include includes/marketer/financial-freedom
  include includes/marketer/cta
