.section.pt-xxxl.pb-xxxl.is-crypto
  .container.content.mt-xl
    .columns.is-centered
      .column
        .columns
          .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/crypto-problem@2x.png')
          .column.mv-auto
              p.is-crypto-title.has-text-white.is-size-2.has-text-weight-bold The Common Crypto Problem
              p.has-text-white.is-size-5 The current pattern of crypto projects is a well-worn path. A new idea is announced, people get excited, a token is issued, the project gets delayed, revenue is non-existent, partnerships aren’t realized, and the team stays predominantly tech-focused while go-to-market strategies tend to take a backseat.
        .columns.is-reverse.pt-lg
          .column.mv-auto
            p.is-size-4.has-text-white.has-text-weight-bold Crypto projects neglect to create and execute legitimate business models
            p.has-text-white.is-size-5
              ul
                li.has-text-white.is-size-5 46% of ICO's launched in 2018 didn't have a business plan
                li.has-text-white.is-size-5 Only 9% of ICO's launched in 2018 came from a pre-existing business
          .column.mv-auto
            .small-icon.has-text-centered
              img(src='images/time@2x.png')
        .columns.pt-lg
          .column.mv-auto
            .small-icon.has-text-centered
              img(src='images/market-strategy@2x.png')
          .column.mv-auto
            p.is-size-4.has-text-white.has-text-weight-bold Lack of a go-to-market strategy
            p.has-text-white.is-size-5 The majority of crypto startups are made up of tech-heavy teams that lack necessary focus on user acquisition and go-to-market strategies

