.section
  .container
    .columns.is-centered
      .column.is-four-fifths
        h1.title.is-size-1.is-size-3-mobile.has-text-info.has-text-weight-bold.has-text-centered.is-spaced Pioneering A New Approach to ICOs
        h2.subtitle.is-size-4.is-size-5-mobile.has-text-centered.pt-md PeerMotion is correcting the common crypto go-to-market struggle using M&A
        .has-text-centered
          a.button.is-rounded.is-large.is-info.has-text-weight-bold.mt-md(href="#") Inquire About Investing
