.section
  .container
    .columns.is-centered.content
      .column.is-3
        img.p-sm(src="/images/investor-hero@2x.png")
      .column.is-9
        h1.title.is-size-1.is-size-3-mobile.has-text-info.has-text-weight-bold Pioneering A New Approach to ICOs
        h2.subtitle.is-size-4.is-size-5-mobile.pt-md PeerMotion is correcting the common crypto go-to-market struggle using M&A
        .cta-btn
          a.button.is-rounded.is-large.is-danger.has-text-weight-bold.mt-md.open-beta-modal(href="#") Inquire About Investing
