.section.pt-xl.pb-xxl.is-paco-release.cta-paco
  .container.pt-xxl
    .columns.is-centered.content
      .column.is-7
        p.has-text-centered.has-text-weight-bold.is-size-2 Read Our Full Press Release On the PACO Strategy
        .has-text-centered
            a.button.is-rounded.is-large.is-info.has-text-weight-bold.has-background-danger.has-text-white.is-size-3(href="#") Read Now
