.section.pt-lg.pb-xl.is-testimonial
  .container.pt-lg
    .columns.is-centered.content
      .column.is-8
        h2.subtitle.has-text-info.has-text-centered.is-italic.has-text-weight-bold “The idea of ‘build it and they will come’ may have worked for Bitcoin or Ethereum, but that is not how it’s going to play out for almost anyone else in this space. They need to actually go to the market, not expect the market to come to them”
        p.is-size-5.has-text-centered
          strong Kyle Samanu,&nbsp;
          |Managing Partner, Multicoin Capital
