.section.pt-xl.pb-xl
  .container.pt-lg
    .columns.is-centered.content
      .column
          h2.is-size-1.has-text-weight-bold.has-text-centered Our Solution - The PACO
          p.is-size-5 The Post Acquisition Coin Offering is a new approach to stabalizing and expediting crypto projects by strategically integrating M&A into the roadmap from day one, explicitly setting aside proceeds from the ICO for these purposes.
          p.is-size-5 Prior to a raise, a project will identify, perform due diligence on, and then execute LOIs with existing businesses that will strategically accelerate the project’s growth from the start.
          p.is-size-5.has-text-weight-bold.mt-xl By using the PACO approach and executing on several LOIs with existing industry companies and user communities, PeerMotion is able to:
    .columns.is-centered.content.pt-lg
      .column.is-5
        .small-icon.has-text-centered
          img(src='images/expedite@2x.png')
        p.is-size-5.has-text-weight-bold.has-text-centered.pl-lg.pr-lg.ml-md.mr-md Expedite our product development by building on top of existing tech
      .column.is-5
        .small-icon.has-text-centered
          img(src='images/cashflow@2x.png')
        p.is-size-5.has-text-weight-bold.has-text-centered.pl-lg.pr-lg-md.ml-md.mr-md Enjoy instant cashflow
    .columns.is-centered.content.pt-lg
      .column.is-5
        .small-icon.has-text-centered
          img(src='images/adoption@2x.png')
        p.is-size-5.has-text-weight-bold.has-text-centered.pl-lg.pr-lg.ml-md.mr-md Accelerate PeerMotion Platform adoption and community engagement
      .column.is-5
        .small-icon.has-text-centered
          img(src='images/capital@2x.png')
        p.is-size-5.has-text-weight-bold.has-text-centered.pl-lg.pr-lg.ml-md.mr-md Accelerate network and relational capital in our industry

