.section
  .container
    .columns.is-centered.content
      .column.is-3
        img.p-sm(src="/images/dna-hero@2x.png")
      .column.is-9
        h1.title.is-size-1.is-size-3-mobile.has-text-info.has-text-weight-bold PeerMotion DNA
        h3.is-size-2.is-size-3-mobile.has-text-weight-bold.m-none Mission
        h3.is-size-4.is-size-5-mobile.mt-md.midle-title Our mission is to make online performance marketing the dominant strategy for brand acceleration and growth. The first step to accomplish this is building the most transparent and effective performance marketing platform in the world for brands and marketers.