.section
  .container
    .columns.content.is-centered.content
      .column.is-10
        h3.is-size-2.is-size-3-mobile.has-text-weight-bold.mb-lg Core Values
        .value.mb-lg
            p.is-size-3.has-text-info.has-text-weight-bold.mb-sm Doing the Right Thing
            p.is-size-5 Integrity is the foundation of all success. Therefore we will not base our decisions on what seems expedient, profitable, or convenient. Our decisions will be based on what is ethical, moral, just, fair and right — regardless of the immediate personal or corporate cost.
        .value.mb-lg
            p.is-size-3.has-text-info.has-text-weight-bold.mb-sm Defaulting to Transparency
            p.is-size-5 From the products and services we build, to the way we interact with our team members, investors, users, and partners, we default to and optimize for transparency. We believe that transparency breeds trust, and trust is the ultimate foundation to build upon.
        .value.mb-lg
            p.is-size-3.has-text-info.has-text-weight-bold.mb-sm Creating Quality Relationships
            p.is-size-5 We believe that business and personal success is built through relationships and that all quality relationships are mutually beneficial. We will always seek to develop win-win partnerships with our team members, investors, users, and partners. Our philosophy is “win-win” or “no deal.” We believe in relationship before project, and mutual success before individual gain.
        .value.mb-lg
            p.is-size-3.has-text-info.has-text-weight-bold.mb-sm Courageous Leadership
            p.is-size-5 Our chosen role is a role of leadership — influencing and inspiring others to change, and grow to be and do all that they desire. Courage means we are entrepreneurial and thus take risks, reaching beyond current boundaries, experimenting with new approaches, challenging the status quo and leading our industry and others to new horizons.
        .value.mb-lg
            p.is-size-3.has-text-info.has-text-weight-bold.mb-sm Defining Wealth by Who We Are
            p.is-size-5 We believe that wealth is not defined by what we have but by who we are. While we intend to build substantial wealth for ourselves and others, we ultimately pursue an out of the ordinary wealth of life which includes character more than accomplishment, quality more than quantity, attitude more than activity, balance more than busyness, effectiveness more than efficiency, financial freedom more than fat wallets and physical, emotional, mental and spiritual health more than just financial wealth.
        .value.mb-lg
            p.is-size-3.has-text-info.has-text-weight-bold.mb-sm Developing People
            p.is-size-5 Our goal is to improve the quality of every life and every business we with. Every team member, investor, user and partner will be better off in some way because of their interaction with us.
        .value.mb-lg
            p.is-size-3.has-text-info.has-text-weight-bold.mb-sm Continually Pursuing Excellence
            p.is-size-5 We are committed to the aggressive pursuit of excellence in everything we do. The standard of excellence will be higher tomorrow than it is today because of what we do. We believe doing less better, is better than doing more poorly. We will be pacesetters of quality and effectiveness.
        .value.mb-lg
            p.is-size-3.has-text-info.has-text-weight-bold.mb-sm Building Beyond Business
            p.is-size-5 We believe that our business exists for purposes beyond financial or business interests. All our decisions and actions are based on motives and goals which will ultimately make a significant difference in lives and in society. What we do today must always be measured against the ultimate legacy we want to leave behind.