.section
  .container.pt-lg
    .columns.is-centered
      .column.is-four-fifths
        .content
          p.title.has-text-centered.is-size-1.has-text-weight-bold An Accelerating Industry
          p.subtitle.is-size-3-5.has-text-centered.pt-md The results based model of performance marketing is proving to be best solution to increase a brand's footprint and the smartest way for them to spend their marketing dollars
          .columns.mt-xl
            .column
              p.subtitle.is.size-3-5.has-text-weight-bold Compound annual growth rate of 10% in the US and 15% in the UK
            .column
              p.subtitle.is.size-3-5.has-text-weight-bold Performance marketing is returning on the brand's investment
