.modal.beta-modal
  .modal-background
  .modal-card
    header.modal-card-head
      p.modal-card-title PeerMotion Beta Access
      button.delete(aria-label='close')
    section.modal-card-body
      iframe(src='https://peermotion.us18.list-manage.com/subscribe?u=b05cdfad10e54c7ac7699082d&id=37660ef3cc', frameborder="0")
