footer.footer.mt-xl
    .container
        .columns
            .column.is-one-third
              a(href="#")
                img.footer-logo(src='images/logo-white@2x.png', alt='PeerMotion')
            .column.is-one-third
              .menu
                ul.menu-list
                  li
                    a.has-text-white.pt-none.pb.none.has-text-weight-bold(href='#') White Paper
                    a.has-text-white.pt-none.pb.none.has-text-weight-bold(href='#') Road Map
                    a.has-text-white.pt-none.pb.none.has-text-weight-bold(href='#') Team
                    a.has-text-white.pt-none.pb.none.has-text-weight-bold(href='#') DNA
                    a.has-text-white.pt-none.pb.none.has-text-weight-bold(href='#') Blog
            .column.is-one-third
              .contact.has-text-right.mb-md
                a.has-text-white.has-text-weight-bold.is-size-5(href="mailto:some@some.com") contact@peermotion.io
              .social.is-clearfix
                .columns
                  .column.is-one-fifth
                    a(href='#')
                      img(src='images/facebook@2x.png', alt='facebook')
                  .column.is-one-fifth
                    a(href='#')
                      img(src='images/twitter@2x.png', alt='twitter')
                  .column.is-one-fifth
                    a(href='#')
                      img(src='images/medium@2x.png', alt='medium')
                  .column.is-one-fifth
                    a(href='#')
                      img(src='images/telegram@2x.png', alt='telegram')
                  .column.is-one-fifth
                    a(href='#')
                      img(src='images/linkedin@2x.png', alt='linkedin')


