.section
    .container
        .columns.is-centered
            .column.is-four-fifths
                h1.title.is-size-1.has-text-info.has-text-weight-bold.has-text-centered.is-spaced The Next Step In Performance Marketing Evolution
                h2.subtitle.is-size-4.has-text-centered A powerful performance marketing platform built on Ethereum for brands and marketers.
                .has-text-centered
                    a.button.is-rounded.is-large.is-info.has-text-weight-bold(href="#") Request Beta Access