.inner-nav.has-background-white.mt-sm
    .container
        .navbar
            .navbar-brand
                a.navbar-item(href='/')
                    img(src='/images/logo@2x.png', alt='PeerMotion')
            .navbar-menu
                .navbar-end
                    a.navbar-item.has-text-info.has-text-weight-semibold(href="/PeerMotion-WhitePaper.pdf" target="_blank") White Paper
                    a.navbar-item.has-text-info.has-text-weight-semibold(href="/#roadmap") Road Map
                    a.navbar-item.has-text-info.has-text-weight-semibold(href="/#team") Team
                    a.navbar-item.has-text-info.has-text-weight-semibold(href="/dna.html") DNA
                    a.navbar-item.has-text-info.has-text-weight-semibold(href="https://medium.com/peermotion", target="_blank") Blog
