.inner-nav.has-background-white
    .container
        .navbar
            .navbar-brand
                a.navbar-item(href='#')
                    img(src='/images/logo@2x.png', alt='PeerMotion')
            .navbar-menu
                .navbar-end
                    a.navbar-item.has-text-info.has-text-weight-semibold(href="#") White Paper
                    a.navbar-item.has-text-info.has-text-weight-semibold(href="#") Road Map
                    a.navbar-item.has-text-info.has-text-weight-semibold(href="#") Team
                    a.navbar-item.has-text-info.has-text-weight-semibold(href="#") DNA
                    a.navbar-item.has-text-info.has-text-weight-semibold(href="#") Blog