.top-nav.has-background-white-ter
    .container
        .navbar.is-transparent.is-paddingless
            .navbar-brand
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            .navbar-menu
                .navbar-end
                    a.navbar-item.is-size-top-nav.is-uppercase.has-text-weight-semibold(href="#") Marketers
                    a.navbar-item.is-size-top-nav.is-uppercase.has-text-weight-semibold(href="#") Brands
                    a.navbar-item.is-size-top-nav.is-uppercase.has-text-weight-semibold(href="#") Investors