.top-nav.has-background-white-ter
    .container
        .navbar.is-transparent.is-paddingless
            .navbar-brand
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-top">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            #navbar-top.navbar-menu
                .navbar-end
                    a.navbar-item.is-size-top-nav.is-uppercase.has-text-weight-semibold(href="/marketers.html") Marketers
                    a.navbar-item.is-size-top-nav.is-uppercase.has-text-weight-semibold(href="/brands.html") Brands
                    a.navbar-item.is-size-top-nav.is-uppercase.has-text-weight-semibold(href="/investors.html") Investors
