.section.mt-xl
  .container.pt-lg
    .columns.is-centered
      .column.is-four-fifths
        .content
          p.title.has-text-centered.is-size-1.has-text-weight-bold Problems Plaguing The Industry
          p.subtitle.is-size-3-5.has-text-centered.pt-md Despite promising growth, brands and marketers face consistent challenges

.section
  .container.content
    .columns
      .column
        p.is-size-4.has-text-info.has-text-weight-bold Lack of Transparency
        p The industry is murky with little trust between participants. This makes it difficult for everyone to operate at their fullest potential
      .column
        .small-icon.has-text-centered
          img(src='images/transparency.png')
    .columns.mt-xxl
      .column
        .small-icon.has-text-centered
          img(src='images/fraud.png')
      .column
        p.is-size-4.has-text-info.has-text-weight-bold Fraud
        p Lead shaving, fraudulent chargebacks, bot traffic and more are constant challenges for both brands and marketers
    .columns.mt-xxl
      .column
        p.is-size-4.has-text-info.has-text-weight-bold Poor Alignment of Incentives
        p Marketers struggle to find the best offers aligned with their niche and skillset, and it should be easier for brands to work with marketers that produce the best ROI
      .column
        .small-icon.has-text-centered
          img(src='images/incentives.png')
    .columns.mt-xxl
      .column
        .small-icon.has-text-centered
          img(src='images/consolidation.png')
      .column
        p.is-size-4.has-text-info.has-text-weight-bold Lack of Consolidation
        p The industry has yet to see any major consolidation, which creates a fragmented market with obstacles that prevent meaningful progress

