.section.roadmap.pt-xxs.pb-xxs.mt-none
  .container.pt-lg
    .columns
      .column.is-one-third.mv-auto
        h1.is-size-1.has-text-weight-bold.has-text-white RoadMap
      .column.is-two-thirds.pt-xl.pb-xl
        img.mh-auto(src='images/roadmap.svg')
