.section.mt-xl#team
  .container.pt-lg
    .columns.is-centered
      .column.is-four-fifths
        .content
          p.title.has-text-centered.is-size-1.is-size-2-mobile.has-text-weight-bold Meet The Team

.section.team
  .container
    .columns
      .column.is-3
        +team-member({
          image: 'images/team/kylon-gienger@2x.png',
          name: 'Kylon Gienger',
          position: 'CEO',
        })
      .column.is-3
        +team-member({
          image: 'images/team/enrique-chavez@2x.png',
          name: 'Enrique Chávez',
          position: 'CTO',
        })
      .column.is-3
        +team-member({
          image: 'images/team/oliver-kenyon@2x.png',
          name: 'Oliver Kenyon',
          position: 'CMO',
        })
      .column.is-3
        +team-member({
          image: 'images/team/stephen-olmon@2x.png',
          name: 'Stephen Olmon',
          position: 'CSO',
        })
    .columns
      .column.is-3
        +team-member({
          image: 'images/team/dmitry-kaminski@2x.png',
          name: 'Dmitry Kaminski',
          position: 'Product Manager',
        })
      .column.is-3
        +team-member({
          image: 'images/team/jeremy-hood@2x.png',
          name: 'Jeremy Hood',
          position: 'Operations manager',
        })
      .column.is-3
        +team-member({
          image: 'images/team/hayden-miyamoto@2x.png',
          name: 'Hayden Miyamoto',
          position: 'Advisor',
        })
      .column.is-3
        +team-member({
          image: 'images/team/deven-soni@2x.png',
          name: 'Deven Soni',
          position: 'Advisor',
        })
    .columns.is-centered
      .column.is-3
        +team-member({
          image: 'images/team/ian-fernando@2x.png',
          name: 'Ian Fernando',
          position: 'Advisor',
        })
      .column.is-3
        +team-member({
          image: 'images/team/luke-kling@2x.png',
          name: 'Luke Kling',
          position: 'Advisor',
        })
