section
  .container.pt-xl.the-solution
    .columns.is-centered
      .column.is-10
        .content
          p.title.has-text-centered.is-size-1.has-text-weight-bold.pb-xl The Solution
          .columns
            .column
              .icon-small
                img(src='images/the-solution@2x.png')
            .column
              p A platform that merges the most important traditional industry practices with blockchain technology to create a ‘performance marketing economy’.
              p.pt-md PeerMotion will be built around a powerful data tracker (the Oracle) that will provide trust between all users and solve the challenges market participants struggle with today, significantly increasing:
              p.pt-sm
                ul
                  li Transparency
                  li Fraud Protection
                  li Simplicity
                  li Alignment of incentives
                  li Profitability
