.section.pt-xxxl.pb-xxxl.is-what-holder
  .container.pt-lg
    .columns.is-centered
      .column.is-four-fifths
        .content
          p.title.has-text-centered.is-size-1.has-text-weight-bold What is PeerMotion?
          p.subtitle.is-size-3-5.has-text-centered.pt-md.has-text-white PeerMotion consolidates all the key components of the performance marketing industry onto one platform, built around the blockchain.
          .what-is-peermotion.has-text-centered.mt-xl.mh-auto
            img(src='images/what-is-peermotion@2x.png', alt="What is PeerMotion")
          .columns.mt-xl
            .column.is-one-quarter
              p.has-text-centered.has-text-white.has-text-weight-semibold.is-clear
                img.is-checked.is-left(src='images/check.svg')
                span.is-right.pl-sm No middlemen
            .column
              p.has-text-centered.has-text-white.has-text-weight-semibold.is-clear
                img.is-checked.is-left(src='images/check.svg')
                span.is-right.pl-sm Only payment gateway fees charged
            .column
              p.has-text-centered.has-text-white.has-text-weight-semibold.is-clear
                img.is-checked.is-left(src='images/check.svg')
                span.is-right.pl-sm Accessed by depositing MOTN one
