.section.cta.pt-xxs.pb-xxs.cta-dual
  .container.pt-lg.pb-lg
    .columns.is-centered.content
      .column.is-4
        .has-text-centered
            a.button.is-rounded.is-large.is-info.has-text-weight-bold.has-background-dark.has-text-white.is-size-3.open-beta-modal(href="#") Request<br>Beta Access
      .column.is-4
        .has-text-centered
            a.button.is-rounded.is-large.is-info.has-text-weight-bold.has-background-white.has-text-black.is-size-3(href="https://t.me/peermotion" target='_blank') Join Us On<br>Telegram


