.section.pt-lg.pb-lg.financial-freedom
  .container.pt-lg
    .columns.is-centered.content
      .column.is-four-fifths
          p.subtitle.is-size-3.is-size-4-mobile.has-text-centered.pt-md.has-text-weight-bold With PeerMotion, you can accelerate your time and financial freedom:
  .container.content.mt-xl
      .columns.is-centered
        .column.is-four-fifths
          .columns
            .column.mv-auto
              p.is-size-4.has-text-info.has-text-weight-bold Everything you use the most, all in one place.
              p The most essential marketing software tools - tracking, adspy, landing page builders, and more.
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/all-in-one@2x.png')
          .columns.mt-lg.is-reverse
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/less-effort@2x.png')
            .column.mv-auto
              p.is-size-4.has-text-info.has-text-weight-bold Earn more with less effort
              p A marketplace of offers, plus industry leading analytics and scores that will give you the clearest path to the best payouts.
          .columns.mt-lg
            .column.mv-auto
              p.is-size-4.has-text-info.has-text-weight-bold Dramatically reduce fraud
              p Transparency through tracking and the blockchain that will eliminate all types of fraud.
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/reduce-fraud-eye@2x.png')
          .columns.mt-lg.is-reverse
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/reduce-fees@2x.png')
            .column.mv-auto
              p.is-size-4.has-text-info.has-text-weight-bold No middleman, reduced fees
              p Connect directly with brands in a transparancy and secure way. Only pay 50% of payment gateway fees during payouts.
          .columns.mt-lg
            .column.mv-auto
              p.is-size-4.has-text-info.has-text-weight-bold Access for a single deposit
              p Access it all and more by holding our cryptocurrency MOTN Token.
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/single-deposit@2x.png')
