.section
  .container
    .columns
      .column.is-3
        img.p-sm(src="/images/marketers-hero@2x.png")
      .column.is-9
        h1.title.is-size-1.is-size-3-mobile.has-text-info.has-text-weight-bold Accelerate Your Marketing Career
        h2.subtitle.is-size-4.is-size-5-mobile.pt-md Experience performance marketing at a level of transparency, efficiency, and profitability you’ve never seen before.
        .cta-btn
          a.button.is-rounded.is-large.is-danger.has-text-weight-bold.mt-md.open-beta-modal(href="#") Request Beta Access
