.section.pt-xxxl.pb-xxxl.is-profitable
  .container.pt-lg
    .columns.is-centered.content
      .column
          p.subtitle.is-size-2-5.is-size-4-mobile.has-text-centered.pt-md.has-text-white.has-text-weight-bold You got into performance marketing to build a profitable business. But there are still barriers in your way:
    .container.content.mt-xl
      .columns.is-centered
        .column
          .columns
            .column.mv-auto
              p.has-text-white.is-size-5 Spending hundreds of dollars per month on essential software tools
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/spending@2x.png')
          .columns.mt-lg.is-reverse
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/time@2x.png')
            .column.mv-auto
              p.has-text-white.is-size-5 Wasting time and money finding profitable offers to promote
          .columns.mt-lg
            .column.mv-auto
              p.has-text-white.is-size-5 Fraud; shaving, scrubbing, bot traffic and more
            .column.mv-auto
              .small-icon.has-text-centered
                img(src='images/bot-traffic@2x.png')
